CENTRAL_DB_USER=central_admin_prod
CENTRAL_DB_PASSWORD=change_this_db_password
CENTRAL_DB_NAME=central_db
SECRET_KEY=change_this_secret_key_with_a_long_random_value
ADMIN_EMAIL=admin@empresa.com
ADMIN_PASSWORD=change_this_admin_password
ADMIN_ORGANIZATION_NAME=Empresa Demo
YUMMY_DB_URL=
